table{
    height: 100%;
    margin: 2%;
}
.company_logo{
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: 200px;
}
.section_header1{
    background-color: rgba(60, 255, 0, 0.329);
    padding-top: 140%;
    padding-bottom: 140%;
}
.main_header{
    background-color: rgba(60, 255, 0, 0.329);
    /* padding: 2%; */
    padding-top: 10%;
    padding-bottom: 10%;
}
.contruction{
    display: flex;
    justify-content: space-between;
    flex:20%;
    margin:5%;
    box-shadow: 3px 3px 3px 3px rgb(41, 41, 41);
    padding: 15%;
}
.navigation_links{
    text-shadow: 1px;
    text-decoration: solid;
}